<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <a class="navbar-brand" href="./"><img src="/img/logo-small.png">UK Force Services</a>
                <BR>
                <!-- <p>The formation of UK Force Services by a group of senior industry executives, is in direct response to the increasing market need for a professional-manned guarding company.</p> -->
            </div>
        </div>
        <p>&copy; <span id="copyYear">2022</span> UK Force Services Limited by <a href="http://www.dxndre.co.uk">D'André Phillips</a></p>
    </div>
    
</footer>
<script src="./js/all.js"></script>
</body>
</html>
